# Comp 521 Fall 2015 Midterm 1

__Don't Panic!__

You may use only your book (print or pdf), your notes, homework, anything else you have downloaded to your computer and the Jupyter notebook.

You may not access the web sites, instant messaging, phones, or spirit guides. You will pledge on your honor that you have neither given nor received unauthorized help.

You must submit your exam before you leave the room. 

Enter your _onyen_ below.

In [1]:
Onyen = 'rashnil' # not your PID, your onyen

## Honor Pledge

I certify that no unauthorized assistance has been received or given in the completion of this work. 

Enter your full name as the value of the Pledge variable below.

In [2]:
Pledge = 'Rashnil Chaturvedi' # type your full name between the quotes

In [3]:
# setup
import sqlite3
import comp521

conn = sqlite3.connect('oldmt1.db')
cursor = conn.cursor()

check, report = comp521.start('oldMT1')

__1. Which of the following SQL operations, used in the normal ways we have discussed, will change the schema?__

	A. delete	
	B. insert	
	C. select
    D. none of these

In [4]:
# Assign a letter to the answer variable below
Q1 = 'D'

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q1', Q1, points=5, choice='ABCD')

Q1 appears correct

__2. Which of the following is characteristic of a database schema?__

    A. It determines a relation’s degree
    B. It determines a relation’s cardinality
    C. It must specify a primary key
    D. None of these.

In [6]:
# Assign a letter to the answer variable below
Q2 = 'A'

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q2', Q2, points=5, choice='ABCD')

Q2 appears correct

__3. Why is the join operator not one of the five primitive (basic) operators of relational algebra?__

    A. it has too many variants to be considered a primitive
    B. it is equivalent to cross product
    C. joins can be accomplished by composing primitive operations
    D. it wasn't in the original papers.

In [7]:
# Assign a letter to the answer variable below
Q3 = 'C'

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q3', Q3, points=5, choice='ABCD')

Q3 appears correct

__4. Which SQL query clause corresponds to the relational algebra $\sigma$ operator.__

    A. ORDER BY
    B. GROUP BY
    C. SELECT
    D. WHERE

In [9]:
# Assign a letter to the answer variable below
Q4 = 'D'

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q4', Q4, points=5, choice='ABCD')

Q4 appears correct

## Database info

In the setup code below I will connect to a small database that is included in the zip file for this exam and will create a cursor for your use. There is no need for you to create a new connection object or cursor. 

The schema of the data base is a little different from boat club database we used in class. Here is its schema.

```
create table Sailors 
    (id integer primary key, 
     name text, 
     rating integer, 
     age integer)
```

```
create table Boats
    (id integer primary key, 
     name text, 
     color text)
```

```
create table Reserves 
    (sid integer, 
     bid integer, 
     day text,  # format yyyy-mm-dd i.e. 2015-09-24 is 24 Sept 2015
     primary key (sid, day) 
     foreign key (sid) references Sailors(id)
     foreign key (bid) references Boats(id))
```

__5. How many boats are in the Boats table?__

__Remember__ you must compute your answer for any database with this schema, not for this specific instance. Use the `cursor` variable provided to execute the appropriate SQL statement and retrieve its result. For each question I tell you the type of result that is expected. You may have to use Python code to transform the result you get back from `cursor.execute` to get it into the expected form.

In [12]:
# expecting an integer
Q5 = 0

cursor.execute(''' select count(*) from Boats''')

Q5 = cursor.fetchone()[0]

print('Q5 =', Q5)

# Checking code
check('Q5', Q5, points=5)

Q5 = 19
Q5 appears correct

__6. What is the cardinality of the cross product of the Boats relation with the Reserves relation?__

In [13]:
# expecting an integer
Q6 = 0


cursor.execute(''' select count(*) from Boats,RESERVES''')

Q6 = cursor.fetchone()[0]

# cardinality - number of joined results.

print('Q6 =', Q6)
# Checking code
check('Q6', Q6, points=10)

Q6 = 1026
Q6 appears correct

__7. How many times have red boats been reserved?__

In [18]:
# expecting an integer
Q7 = 0

print('Q7 =', Q7)
# check code
check('Q7', Q7, points=10)

__8. What are the names of the sailors who have reserved a boat named Clipper?__

Produce a list of their names; you may assume that no two sailors have the same name (this makes it easier).

In [19]:
# expecting a list of strings
Q8 = [ ]

print('Q8 =', Q8)

# test code
check('Q8', Q8, points=10, sort=True)

__9. Which boats have been reserved by sailors with ratings higher than 5?__

The expected result is a list of boat ids.

In [20]:
# expecting a list of integers
Q9 = [ ]

print('Q9 =', Q9)

#check code
check('Q9', Q9, points=10, sort=True)

__10. Which sailors have never reserved a red boat?__

In [21]:
# expecting a list of strings
Q10 = []

print('Q10 =', Q10)

#check code
check('Q10', Q10, points=15, sort=True)

__11. Which sailors reserved a boat in May or June of 2014?__

In [22]:
# expecting a list of strings
Q11 = [ ]

print ('Q11 =', Q11)

#check
check('Q11', Q11, points=15, sort=True)

__12. What restriction on the Reserves relation is created by the schema phrase `primary key (sid, day)`?__

    A. A sailor may only make one reservation.
    B. A sailor may only reserve one boat per day.
    C. Each boat may only be reserved once per day.
    D. The reserves relation will be ordered by sid and day.

In [14]:
# Assign a letter to the answer variable below
Q12 = 'B'

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q12', Q12, points=5, choice='ABCD')

Q12 appears correct

## Done!

Now, you should save, restart the kernel (Kernel menu -> Restart), run all the cells (Cell menu -> Run all), check your report, save, and submit your notebook.

In [24]:
report(Onyen, Pledge)