# Comp 521 Fall 2017 Midterm 1

__Don't Panic!__

You may use your book (print or pdf), your notes, homework, anything else you have downloaded to your computer and the Jupyter notebook.

You may **not** access the web, instant messaging, phones, or spirit guides. You will pledge on your honor that you have neither given nor received unauthorized help.

You must submit your exam before you leave the room. **You must scan your one-card before leaving**.

Enter your _onyen_ below and __run the cell with shift-enter__.

In [1]:
Onyen = 'rashnil' # not your PID, your onyen

## Honor Pledge

I certify that no unauthorized assistance has been received or given in the completion of this work. 

Enter your full name as the value of the Pledge variable below and run the cell.

In [2]:
Pledge = 'Rashnil Chaturvedi' # type your full name between the quotes

In [3]:
# setup
import sqlite3
import comp521

db = sqlite3.connect('thrlogs.db')

# here is a cursor for your own experiments but your answers
# will be SQL queries only.
cursor = db.cursor()

check, report = comp521.start('MT1')
from comp521 import check_query

__1. Which of the following SQL operations can be expected to increase the cardinality of a relation?__

	A. delete	
	B. insert	
	C. select
    D. drop table

In [4]:
# Assign a letter to the answer variable below
Q1 = 'B'

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q1', Q1, points=5, choice='ABCD')

Q1 answered

__2. What major function below is not typically performed by a database management system?__

    A. query optimization
    B. enforcing data integrity constraints
    C. translating ER diagrams to schemas
    D. concurrency management
    E. interpreting SQL commands

In [5]:
# Assign a letter to the answer variable below
Q2 = 'C'

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q2', Q2, points=5, choice='ABCDE')

Q2 answered

__3. Which of the following statements characterize the relational database model?__

    A. Entities are stored as tables 	
    B. Relations between entities are stored as tables 	
    C. The domain for each attribute is pre-specified 	
    D. Each table has a distinct name
    E. Each table must have a primary key

In [7]:
# Assign True or False to each of the variables below.
Q3A = True
Q3B = False
Q3C = True
Q3D = True
Q3E = False

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q3A', Q3A, points=1, choice=[True, False])
check('Q3B', Q3B, points=1, choice=[True, False])
check('Q3C', Q3C, points=1, choice=[True, False])
check('Q3D', Q3D, points=1, choice=[True, False])
check('Q3E', Q3E, points=1, choice=[True, False])

Q3A answered
Q3B answered
Q3C answered
Q3D answered
Q3E answered

__4. If relations R and S are union-compatible, which of the following must be true?__

    A. R and S have the same number of fields.
    B. Attribute names of R and S must match.
    C. Corresponding attributes taken in order must have the same (or compatible) domains.
    D. The intersection of R and S is the same as the cross-product of R and S.
    E. R and S have the same cardinality.

In [6]:
# Assign True or False to each of the variables below.
Q4A = False
Q4B = False
Q4C = True
Q4D = False
Q4E = False

# Checking code, it will only tell you if the domain of the answer is incorrect
check('Q4A', Q4A, points=1, choice=[True, False])
check('Q4B', Q4B, points=1, choice=[True, False])
check('Q4C', Q4C, points=1, choice=[True, False])
check('Q4D', Q4D, points=1, choice=[True, False])
check('Q4E', Q4E, points=1, choice=[True, False])

Q4A answered
Q4B answered
Q4C answered
Q4D answered
Q4E answered

## Database info

You are to write a single SQL query to answer each question. You will not write any Python code below.

The schema of the database is below. It represents book reading activity on Tar Heel Reader over a short period.

The **ip** address is assumed to correspond to a single location. For reasons you'll learn in Comp 431 they sometimes don't but for the purposes of the exam assume they do. 

```
create table Reads ( -- a record for each book that was read
    time date,       -- time the book was read
    ip integer,      -- ip of the computer
    bid integer,     -- book id
    foreign key (bid) references Books,
    foreign key (ip) references Locations)

create table Books (
    bid integer primary key,
    title text,
    aid integer,           -- author id
    reviewed integer,      -- 1 if the book is reviewed, 0 otherwise
    foreign key (aid) references Authors)

create table Locations (
    ip integer primary key, -- ip address of the computer
    country text)           -- country determined from the ip address

create table Authors (
    aid integer primary key,
    login text,    -- user id like Gary
    birthday text) -- month and day of the author's birthday like May 29
```

I'll dump the first few rows of each table so you can get a better idea of the contents.

## Reads

In [8]:
print('(time, ip, bid)\n')
for row in cursor.execute('''select * from Reads limit 3'''):
    print(row)

(time, ip, bid)

('2017-10-01 00:06:48', 3023614022, 124363)
('2017-10-01 00:07:35', 3023614022, 124884)
('2017-10-01 00:07:53', 3023614022, 124366)

## Books

In [9]:
print('(bid, title, aid, reviewed)\n')
for row in cursor.execute('''select * from Books limit 3'''):
    print(row)

(bid, title, aid, reviewed)

(148, 'Lullaby', 9, 1)
(171, 'Balloons Everywhere!', 14, 1)
(202, 'Baa Baa Black Sheep', 61, 1)

## Authors

In [10]:
print('(aid, login, birthday)\n')
for row in cursor.execute('''select * from Authors limit 3'''):
    print(row)

(aid, login, birthday)

(1, 'Gary', 'May 29')
(2, 'DLM', 'February 24')
(5, 'Jenny', 'January 18')

## Locations

In [11]:
print('(ip, country)\n')
for row in cursor.execute('''select * from Locations limit 3'''):
    print(row)

(ip, country)

(32591211, 'United States')
(40693121, 'United States')
(60836422, 'Canada')

__5. How many different countries read books?__

You are writing **only the SQL query**. Do **not** change anything else.

In [13]:
Q5 = '''
Select count(distinct(country)) from locations a, reads b where a.ip=b.ip
'''

# Do NOT change any of this
# Checking code
check_query('Q5', Q5, db, points=10)

16

Q5 appears correct

__6. How many times were reviewed books read?__

I'm looking for the number of reads of books that have the _reviewed_ flag set to 1.

In [14]:
Q6 = '''
Select count(1) from Books b, reads r where r.bid=b.bid and b.reviewed=1
'''

# Do NOT change any of this
# Checking code
check_query('Q6', Q6, db, points=8)

1055

Q6 appears correct

__7. What are the titles and authors of the books that have "help" anywhere in their title?__

List the books in alphabetical order by title, and author login.

In [19]:
Q7 = '''
Select title,login from authors a, books b where a.aid=b.aid and b.title like '%help%' order by title
'''

# Do NOT change any of this
# check code
check_query('Q7', Q7, db, points=12)

[['Community Helpers', 'knkaul'], ['Help the Earth', 'Dylan O'], ['Help: How to write a book', 'Gary'], ['I Help', 'DLM'], ['Police are Here to Help', 'D Colucci']]

Q7 appears correct

__8. What are logins of the authors whose books were read from Italy?__

Produce a list of their logins in alphabetical order.

In [22]:
Q8 = '''
Select distinct(login)
from authors a, books b, reads c, locations d 
where a.aid=b.aid and b.bid=c.bid and c.ip=d.ip and d.country='Italy' 
order by a.login
'''

# Do NOT change any of this
# check code
check_query('Q8', Q8, db, points=12)

['Adriana', 'Jane', 'Lidia']

Q8 appears correct

__9. How many books were read in each country?__

List the country and number in alphabetical order by name.

In [25]:
Q9 = '''
Select country, count(1) from locations a, reads b where a.ip=b.ip group by a.country order by country
'''

# Do NOT change any of this
#check code
check_query('Q9', Q9, db, points=13)

[['Australia', 123], ['Belgium', 2], ['Canada', 79], ['China', 1], ['Colombia', 1], ['France', 22], ['India', 1], ['Italy', 12], ['Korea, Republic of', 3], ['Philippines', 1], ['Russian Federation', 1], ['Singapore', 5], ['Spain', 5], ['United Arab Emirates', 4], ['United Kingdom', 17], ['United States', 1414]]

Q9 appears correct

__10. How many authors wrote books that were NOT read in the United States?__

I mean none of their books were read in the US. If even one of their books was read from the US, you should not include them.

In [33]:
Q10 = '''
Select count(distinct(login))
from authors a
where aid not in (Select distinct aid from books b, reads c, locations d 
where b.bid=c.bid and c.ip=d.ip and country='United States')

'''

# Do NOT change any of this
#check code
check_query('Q10', Q10, db, points=15)

95

Q10 appears correct

__11. How many books were read whose authors were born in May?__

I'm looking for a single query that returns an integer.

In [43]:
Q11 = '''
Select distinct(count(c.bid))
from authors a,books b, reads c
where a.aid = b.aid
and b.bid = c.bid
and a.birthday like '%May%'
'''

# Do NOT change any of this
#check
check_query('Q11', Q11, db, points=10)

120

Q11 appears correct

## Done!

Now, you should save, restart the kernel (Kernel menu -> Restart), run all the cells (Cell menu -> Run all), check your report, save, and submit your notebook. 

Use your **ONYEN** to submit.

## You MUST scan your one card before leaving

In [ ]:
# Do NOT change any of this
# These values are defined at the top of the notebook

report(Onyen, Pledge)