# Comp 521 Fall 2017 Assignment 2
__Assigned__: 28 September 2017  
__Due__: 10 October 2017

In [2]:
# fill in your info here
onyen = "rashnil"
collaborators = ["rashnil"]

Download and unzip [movies.db.zip](http://gb.cs.unc.edu/~gb/movies.db.zip) to produce a movies.db file in your working folder. This database is about 836 megabytes so some of the queries may take a while, __start early__.  This database has the following schema:
```
Customers (
    cardNo INTEGER PRIMARY KEY,
    first TEXT,
    last TEXT,
    sex CHAR,
    dob DATE
)

Movies (
    movieId INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER
)

Rentals (
    cardNo INTEGER,
    movieId INTEGER,
    date DATE,
    rating INTEGER,
    PRIMARY KEY(cardNo, movieID, date),
    FOREIGN KEY (cardNo) REFERENCES Customers,
    FOREIGN KEY (movieId) REFERENCES Movies
)
```

Write code in the cells below to answer each question.

In [5]:
# setup
import sqlite3
conn = sqlite3.connect('movies.db')
cursor = conn.cursor()

import comp521
check, report = comp521.start('A2')

## 1. Find the following using SQL queries

__1a. How many male customers are there?__

In [12]:
# write your query as a single string here
a1a = "select distinct(count(cardNo)) from Customers where sex='M'"

# code to execute your query, leave this alone
q1a = cursor.execute(a1a).fetchone()[0]
check('1a', q1a, points=10)

1a appears correct

__1b. How many movies were released in either 2004 or 2006?__

In [13]:
a1b = "select count(movieID) from Movies where year =2004 or year=2006"

# test code
q1b = cursor.execute(a1b).fetchone()[0]
check('1b', q1b, points=10)

1b appears correct

__1c. What are the first and last names of the oldest customers in alphabetical order by last and first name?__

In [16]:
a1c = "select first,last from Customers where dob = (select min(dob) from Customers) order by last,first"

# test
q1c = cursor.execute(a1c).fetchall()
check('1c', q1c, points=10)

1c appears correct

__1d. How many customers were born before January 1st, 1950 (not inclusive)?__

In [15]:
a1d = "Select count(cardNo) from Customers where dob<'1950-01-01'"

# test
q1d = cursor.execute(a1d).fetchone()[0]
check('1d', q1d, points=10)

1d appears correct

__1e. What is the average rating for all movies rented between January 1st 2000, and December 31st 2000 (inclusive)?__

In [18]:
a1e = "Select avg(rating) from Rentals where date between '2000-01-01' and '2000-12-31'"

# test
q1e = cursor.execute(a1e).fetchone()[0]
check('1e', q1e, points=10)

1e appears correct

## 2. Fill in the body of the functions below.

__2a. Fill in code to make this function return a list with the titles of the films released in the given year, sorted alphabetically.__

In [61]:
def f2a(year):
    a2a = "Select title from Movies where year="+str(year)+ " order by title"
    q2m = cursor.execute(a2a).fetchall()
    titles = list()
    for row in q2m:
        titles.append(row[0])
    
    return titles
    
q2a = f2a(1935)
check('2a', q2a, points=10)

2a appears correct

__2b. Write a function that takes a string representing some part of a film title, and returns a list of tuples with the first and last names of customers who rented those films and rated them 3 or higher. Sort this list alphabetically by last name and first names.__

In [67]:
 a2a = "Select * from Movies m where  m.title like '%"+str(year)+ "%' order by last,first"
    q2m = cursor.execute(a2a).fetchall()
    #titles = list()
    #for row in q2m:
     #   titles.append(row[0])

Select first,last from Customers c, Rentals r, Movies m where c.cardNo=r.cardNo and r.movieID=m.movieID and r.rating>=3 and m.title like '%10%' order by last,first

In [70]:
def f2b(title):
    a2a = "Select distinct first,last from Customers c, Rentals r, Movies m where c.cardNo=r.cardNo and r.movieID=m.movieID and r.rating>=3 and m.title like '%"+str(title)+ "%' order by last,first"
    q2m = cursor.execute(a2a).fetchall()
    
    return q2m
   

q2b = f2b('rash Di')
check('2b', q2b, points=20)

2b appears correct

__2c. Write a function that takes year as input, and returns a list of the titles of the most rented films among the films released that year.__

In [ ]:
def f2c(year):
    #your code here

q2c = f2c(2001)
check('2c', q2c, points=20)

# Done!

Now get your report, save, and submit your notebook. I recommend you restart the kernel, and run all, just to be sure things are going to work correctly when I run it.

In [60]:
report(onyen, collaborators)

1a
1b
1c
1d
1e
2a
2b
2b incorrect
2c
2c incorrect
  Collaborators: ['rashnil']
Report for rashnil
  6 of 8 correct, 60 of 100 points